.container {
	width: 950px;
}
	
body {
	background: #fff;
	background-image: url("images/brushed_steel.jpg");
     	width: 100%;
	hight: 400px;
}

menu {
	position: absolute;
	top:20px;
	float: right;
	/*left: 890px;*/
	right: 120px;
	font-size: 125%;
	background-color: white;
        padding: 0 0.7em;
        white-space: nowrap;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;	
	box-shadow: 10px 10px 5px #888888;
}
menu li {
	list-style-type: none;
	display: inline-block;
	padding: 0.3em;
	
}
	
	
header {
	padding-top: 0px;
	
}
	
header img {
	
	float: left;
	width:950px;
	margin-top: -5px;
	box-shadow: 10px 0px 5px #888888;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
}

section {
margin-top: 1em;
font-size: 120%;
padding: 20px;
background: #fff;
box-shadow: 10px 10px 5px #888888;
}

section h1 {
	font-size: 200%;
}

/* links */

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #09c;
}

/* Navigation */

/*
nav img {
	
	width: 950px;
	margin-top 1em;
}
*/
nav {
	background-image: url("images/nav4.png");
	margin-top: 15px;
/*	background-color: white;*/
/*	padding: 0 0.7em;*/
/*	white-space: nowrap;*/
	margin-bottom:20px;
	width: 950px;
	box-shadow: 10px 10px 5px #888888;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; 
}

nav u1 {
	
	width: 950px;
	-moz-border-radius: 10px
	-webkit-border-radius: 10px;
/*	border-radius: 10px;
	height: 400px;
	margin: 10px;
	padding: 10px*/
	mrgin-bottom: 20px;
	margin-top: 20px;
}

nav u1 li {
/*	background-image: url("images/nav4.png");*/
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 1.1em;
	font-size: 135%;
	font-weight: bold;
	margin-top: 8px;
	text-shadow: 0.1em 0.1em #333;
}

nav ul li a {
	padding: 0 5px;
	front-weight: bold;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
text-decoration: underline;
}

.round {
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;sssss
}

/* sign up button */

a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 150px;
	color: #fff;
	background: #09c;
	font-size: 130%;
	font-weight: bold;
	padding: 15px;
	box-shadow: 10px 10px 5px #888888;
}

footer {
	text-align: center;
	margin-top: 20px;
	background: #fff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 10px 10px 5px #888888;
	padding: 10px;
}

	/* user show page */
	
	table.profile {
		width: 100%;
		margin-bottom: 0;
	}
	
	td.main {
		width: 70%;
		padding: 1em;
	}
	
	td.sidebar {
		width: 30%;
		padding: 1em;
		vertical-align: top;
		background: #BDCBDD;
	}
	
	.profile img.gravatar {
		border: 1px solid #999;
		margin-bottom: -15px;
	}

div.field, div.actions {
	margin-bottom: 10px;
}
.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label {
	color: #fff;
}

#error_explination {
	width: 400px;
	border: 2px solid red;
	padding: 10px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explination h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 13px;
	margin: -2px;
	background-color: #c00;
	color: #fff;
}

#error_explination {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#error_explination u1 li {
	font-size: 12px;
	list-style: square;
}

/* classes styling */

classes {
font-size: 140%;
}

h2 {

font-size: 135%;
}

ul.users {
margin-top: 1em;
}

.users li {
list-style: none;
}
