<h1>Thanks For Your Purchase!</h1>

<p>All purchased courses are displayed on your <%= link_to "Profile.", current_user %></p>
<p>You can view all available courses and access the courses you have purchased through <%= link_to "Available Courses.", courses_path %></p>
