<h1>Admininistrator View</h1>

<h2>
<ul>
<li><%= link_to "Course Creation", course_creation_path %></li>
<li><%= link_to "Manage Users", users_path %></li>
<li><%= link_to "Enroll Users", '#' %></li>
<li><%= link_to "Final Course List", 'finalcourses' %></li>
</ul>
</h2>
