<h1>Choose A Class:</h1>

		<classes>
			<u1>
				<li><%= link_to "Intro to School Safety - Module 1", '/classes/schoolsafety1' %></li>
				<li><%= link_to "Intro to School Safety - Module 2 (Coming Soon)", '/classes/schoolsafety2' %></li>
				<li><%= link_to "Intro to School Safety - Module 3 (Coming Soon)", '/classes/schoolsafety3' %></li>
				</u1>
		</classes>
