<h1>Choose A Class:</h1>

		<classes>
			<u1>
				<li><%= link_to "Stand and Let the Lord Fight Your Battles", '/classes/stand' %></li>
				<li><%= link_to "Intro to Windows 7", '/classes/win7' %></li>
				<li><%= link_to "Intro to Networking - TCP/IP", '/classes/tcpip' %></li>
				</u1>
		</classes>
