<!DOCTYPE html>
<h1>Contact Us</h1>
 <br />
<br />
<p>
	For any additional info or suggestions please contact us at <%= mail_to "info@nuvola-networks.com" %> or call us at 512-698-8913.
	
	<p>Thanks!</p>
	</p>
	