<!DOCTYPE html>
<%#<head><script src="http://jwpsrv.com/library/+PW3kO76EeKteCIACqoQEQ.js"></script></head>%>
<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<body>
	

	<iframe src="/schoolviolence1/index.html" height="675" width="900"></iframe>
	

	</body>
	