<head><script src="http://jwpsrv.com/library/+PW3kO76EeKteCIACqoQEQ.js"></script></head>
<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<body>
	<div id='my-video'></div>
	<script type='text/javascript'>
	    jwplayer('my-video').setup({
	        file: 'rtmp://s27v9aeducouom.cloudfront.net:1935/cfx/st/mp4:TheOSIReference.mp4',
	        width: '640',
	        height: '360'
	    });
	</script>
	</body>
	