	<h1>Home</h1>
	<p>
	<a href="http://www.nuvola-networks.com/">Nuvola Networks</a> is an eLearning and design company specializing in  dynamic web applications and learning environments to further learning and devolopment in the corporate and continuing-education marketplace.
	</p>

<%= link_to "Sign Up Now!", '#', :class => "signup_button round " %>
