	<h1>Home</h1>
	<p>
	**Need to get info for Home page**</p>	
		<p>
		</p>
			<p>
		
	<a href="http://app.nuvola-academy.com/">Nuvola Academy</a> is a revolutionary approach to eLearning.  Build communities, see what's trending, and connect with like minded individuals who share a passion similar to your own.     
	</p>

<%= link_to "Sign Up Now!", signup_path, :class => "signup_button round " %>
