<h1>Introduction to School Safety - Module 2</h1>

<p>
Description: An introduction to School Safety **fill in later**
</p>

<p>
Preview:  **Add short video preview
</p>



<h2>
Cost: $TBD  <li><%= link_to "Purchase", '#' %></li>
</h2>
