<h1>Stand and Let the Lord Fight Your Battles</h1>

<p>
Description:
</p>

<p>
Preview:</p>

<p style="text-align: center;"><iframe width="500" height="281" src="http://player.vimeo.com/video/67164070" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen=""></iframe></p>

<h2>
Cost: $0  <li><%= link_to "Purchase", '#' %></li>
</h2>
